In [2]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)

In [3]:
import requests 
import urllib.request, json
from pandas.io.json import json_normalize
import pandas as pd
import datetime

In [4]:
ROOT_URL = 'https://api.stlouisfed.org/fred'

In [5]:
reqt = "{root_url}/{endpoint}?series_id={series_id}&api_key={api_key}&file_type={file_type}" \
     .format(root_url="https://api.stlouisfed.org/fred",
             endpoint="series/observations",
             series_id="UNRATE",
             api_key='60f6ab7be6bc95a49d16055ec8e92953',
             file_type = 'json')
print(reqt)

https://api.stlouisfed.org/fred/series/observations?series_id=UNRATE&api_key=60f6ab7be6bc95a49d16055ec8e92953&file_type=json

In [6]:
resp = requests.get(reqt)
print(resp)

<Response [200]>

In [7]:
r_json = requests.get(reqt).json()

In [8]:
r_json_1 = r_json['observations']
data = pd.DataFrame(data=r_json_1)[['date', 'value']]

data_1 = data.iloc[864:]
data_1.set_index('date')

           value
date
2020-01-01   3.5
2020-02-01   3.5
2020-03-01   4.4
2020-04-01  14.8
2020-05-01  13.3
2020-06-01  11.1
2020-07-01  10.2
2020-08-01   8.4
2020-09-01   7.8
2020-10-01   6.9
2020-11-01   6.7
2020-12-01   6.7
2021-01-01   6.3
2021-02-01   6.2
2021-03-01   6.0
2021-04-01   6.1
2021-05-01   5.8
2021-06-01   5.9
2021-07-01   5.4
2021-08-01   5.2
2021-09-01   4.8