In [ ]:
pip install fredapi

Collecting fredapi
  Downloading fredapi-0.4.3-py3-none-any.whl (11 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fredapi) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->fredapi) (1.15.0)
Installing collected packages: fredapi
Successfully installed fredapi-0.4.3

In [ ]:
from fredapi import Fred
import pandas as pd
from pandas import DataFrame

In [ ]:
fred = Fred(api_key='60f6ab7be6bc95a49d16055ec8e92953')

In [ ]:
s = fred.get_series('UNRATE', observation_start='2020-01', observation_end='2021-11',frequency='m')
df = pd.DataFrame(s, columns=['Unemployment Rate'])

In [ ]:
df.head()

            Unemployment Rate
2020-01-01                3.5
2020-02-01                3.5
2020-03-01                4.4
2020-04-01               14.8
2020-05-01               13.3

In [ ]:
api_key = '60f6ab7be6bc95a49d16055ec8e92953'