In [1]:
from data.downstream import *
import pickle
import os

RESEARCH_PATH=os.environ.get('RESEARCH_PATH')
PROJECT='DTFF-21-YMMP/'

symbol="ETH"
df_ETHUSD=get_crypto_data_USD_sql(symbol)
df_ETHUSD.to_pickle(RESEARCH_PATH + PROJECT + "data/" +  symbol + 'USD_.pickle')

pair="BTCUSDC"
startTime="21-6-15"
df_BTCUSDT=get_crypto_data_binance(pair,startTime)
df_BTCUSDT.to_pickle(RESEARCH_PATH + PROJECT + "data/" +  pair + '.pickle')

#store as a blob

In [5]:
#restore pickles
ETHUSD_data=pd.read_pickle(RESEARCH_PATH + PROJECT + 'data/ETHUSD_210615.pickle')                 
BTCUDSC_data=pd.read_pickle(RESEARCH_PATH + PROJECT + 'data/BTCUSDC_210615.pickle')

In [6]:
ETHUSD_data.head()

,date,coin_id,cmc_rank,market_cap,price,open,high,low,close,time_high,time_low,volume_24h,percent_change_1h,percent_change_24h,percent_change_7d,circulating_supply,total_supply,max_supply,num_market_pairs
0,2015-08-07,1027,4,1.666106e+08,2.772121,NaN,NaN,NaN,NaN,None,None,1.643292e+05,3.438040,0.00000,0.0,6.010222e+07,7.200245e+07,0.0,0
1,2015-08-08,1027,4,4.548690e+07,0.753325,2.793760,2.798810,0.714725,0.753325,00:29:29,19:39:30,6.741877e+05,-9.849120,-72.73750,0.0,6.038150e+07,7.228298e+07,0.0,0
2,2015-08-09,1027,4,4.239955e+07,0.701897,0.706136,0.879810,0.629191,0.701897,06:44:29,01:49:30,5.321703e+05,-10.081600,-8.03495,0.0,6.040712e+07,7.230860e+07,0.0,0
3,2015-08-10,1027,4,4.281836e+07,0.708448,0.713989,0.729854,0.636546,0.708448,18:54:31,07:34:32,4.052831e+05,4.286270,-2.29319,0.0,6.043967e+07,7.234116e+07,0.0,0
4,2015-08-11,1027,4,6.456925e+07,1.067859,0.708087,1.131410,0.663235,1.067860,20:39:29,06:29:29,1.463103e+06,0.025007,52.88000,0.0,6.046606e+07,7.236755e+07,0.0,0

In [7]:
BTCUDSC_data.head()

,date,datetime,open,high,low,close
0,1623715200000,2021-06-15 00:00:00,40521.93000000,41339.67000000,39526.52000000,40156.95000000
1,1623801600000,2021-06-16 00:00:00,40145.00000000,40512.00000000,38012.54000000,38341.29000000
2,1623888000000,2021-06-17 00:00:00,38333.40000000,39548.79000000,37373.00000000,38079.75000000
3,1623974400000,2021-06-18 00:00:00,38081.20000000,39100.00000000,35149.30000000,35828.28000000
4,1624060800000,2021-06-19 00:00:00,35840.76000000,36458.94000000,34826.00000000,35491.55000000